@charset "UTF-8";
/*====================Обнуляющий стиль CSS==================*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active,
a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

a,
a:visited,
a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*====================Обнуляющий стиль CSS==================*/
html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1em;
  color: black; }

.header {
  background: skyblue;
  min-height: 50px; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto; }

[class*="__container"] {
  max-width: 1064px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto; }

[data-tilt] {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  [data-tilt] > *:not(.js-tilt-glare) {
    -webkit-transform: translateZ(20px);
            transform: translateZ(20px); }

.page-title {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 900;
  color: #65A2EF;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }

hr {
  display: block;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  height: 2px;
  background: #65A2EF; }

.hero {
  margin-bottom: 40px;
  margin-top: 40px; }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .hero__content, .hero__banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-width: 280px;
    max-width: 100%;
    width: 100%; }
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .hero__banner {
    width: 100%;
    height: auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
    .hero__banner svg {
      width: inherit;
      height: inherit; }
  .hero__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 1em;
    line-height: 1em;
    font-weight: 900; }
  .hero__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 15px 0; }
    .hero__item:before {
      content: '';
      display: inline-block;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 45px;
              flex: 0 0 45px;
      width: 45px;
      height: 45px;
      background: url("../icons/check.svg") center/contain no-repeat;
      margin-right: 30px; }
  .hero__btns {
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .hero__btns button,
    .hero__btns a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 12px 24px;
      font-size: 1.5em;
      line-height: 1.2em;
      font-weight: 600;
      color: white;
      border-radius: 50px;
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
      background: -o-linear-gradient(45deg, #6976EB 30%, #65A2EF 50%, #6976EB 80%);
      background: linear-gradient(45deg, #6976EB 30%, #65A2EF 50%, #6976EB 80%);
      background-size: 200% 200%;
      -webkit-animation: gradient 10s linear infinite;
              animation: gradient 10s linear infinite; }
      .hero__btns button:hover,
      .hero__btns a:hover {
        -webkit-animation: boom-boom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                animation: boom-boom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  10% {
    background-position: 100% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  10% {
    background-position: 100% 50%; } }

@-webkit-keyframes boom-boom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

@keyframes boom-boom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

@-webkit-keyframes boom-boom-infinite {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  1% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  2% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  3% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  5% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@keyframes boom-boom-infinite {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  1% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  2% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  3% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  5% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

.products {
  margin-bottom: 40px; }
  .products__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 882px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .products__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(33.33% - 14px);
            flex: 1 1 calc(33.33% - 14px);
    min-width: 280px;
    max-width: calc(33.33% - 14px);
    width: 100%;
    margin: 7px; }
  .products__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 15px 30px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    font-size: 1.3em;
    line-height: 1.2em;
    color: white; }
    .products__link svg {
      width: 42px;
      height: 34px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .products__link:hover svg {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
    .products__link span {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .products__btns {
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .products__btns button,
    .products__btns a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 12px 24px;
      font-size: 1.5em;
      line-height: 1.2em;
      font-weight: 600;
      color: white;
      border-radius: 50px;
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
      background: -o-linear-gradient(45deg, #6976EB 30%, #65A2EF 50%, #6976EB 80%);
      background: linear-gradient(45deg, #6976EB 30%, #65A2EF 50%, #6976EB 80%);
      background-size: 200% 200%;
      -webkit-animation: gradient 10s linear infinite;
              animation: gradient 10s linear infinite; }
      .products__btns button:hover,
      .products__btns a:hover {
        -webkit-animation: boom-boom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                animation: boom-boom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }

.steps {
  padding-top: 40px; }
  .steps--bg {
    background: #65A2EF;
    padding-bottom: 40px; }
    .steps--bg .steps__item {
      color: white; }
      .steps--bg .steps__item::before {
        color: white; }
  .steps__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .steps__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 860px;
    width: 100%;
    font-size: 1em;
    line-height: 1em;
    font-weight: 900;
    counter-reset: itemCount; }
  .steps__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    counter-increment: itemCount;
    margin: 20px 0; }
    .steps__item::before {
      content: counter(itemCount) ".";
      min-width: 60px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      font-size: 60px;
      line-height: 1em;
      font-weight: 900;
      color: #65A2EF;
      -webkit-animation: boom-boom-infinite 10s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
              animation: boom-boom-infinite 10s cubic-bezier(0.075, 0.82, 0.165, 1) infinite; }
    .steps__item:nth-child(1)::before {
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .steps__item:nth-child(2)::before {
      -webkit-animation-delay: 2s;
              animation-delay: 2s; }
    .steps__item:nth-child(3)::before {
      -webkit-animation-delay: 3s;
              animation-delay: 3s; }
    .steps__item:nth-child(4)::before {
      -webkit-animation-delay: 4s;
              animation-delay: 4s; }
    .steps__item:nth-child(5)::before {
      -webkit-animation-delay: 5s;
              animation-delay: 5s; }
    .steps__item:nth-child(6)::before {
      -webkit-animation-delay: 6s;
              animation-delay: 6s; }
    .steps__item:nth-child(7)::before {
      -webkit-animation-delay: 7s;
              animation-delay: 7s; }
    .steps__item:nth-child(8)::before {
      -webkit-animation-delay: 8s;
              animation-delay: 8s; }
    .steps__item:nth-child(9)::before {
      -webkit-animation-delay: 9s;
              animation-delay: 9s; }
    .steps__item:nth-child(10)::before {
      -webkit-animation-delay: 10s;
              animation-delay: 10s; }
  .steps__btns {
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .steps__btns button,
    .steps__btns a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 12px 24px;
      font-size: 1.3em;
      line-height: 1.1em;
      font-weight: 600;
      color: white;
      border-radius: 50px;
      border: 2px solid white;
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
      background: -o-linear-gradient(45deg, #6976EB 30%, #65A2EF 50%, #6976EB 80%);
      background: linear-gradient(45deg, #6976EB 30%, #65A2EF 50%, #6976EB 80%);
      background-size: 200% 200%;
      -webkit-animation: gradient 10s linear infinite;
              animation: gradient 10s linear infinite;
      overflow: hidden; }
      .steps__btns button:hover,
      .steps__btns a:hover {
        -webkit-animation: boom-boom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                animation: boom-boom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }

.counter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.counter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 0 30px 30px; }

.counter__count {
  font-size: 2.3em;
  line-height: 1.2em;
  font-weight: 900;
  color: #65A2EF; }

.counter__title {
  font-size: 1.3em;
  line-height: 1em; }

.benefits {
  padding-bottom: 40px; }
  .benefits__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    font-size: 1em;
    line-height: 1em;
    font-weight: 900; }
  .benefits__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 15px 0;
    min-width: 280px;
    max-width: 350px; }
    .benefits__item:before {
      content: '';
      display: inline-block;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 45px;
              flex: 0 0 45px;
      width: 45px;
      height: 45px;
      background: url("../icons/check.svg") center/contain no-repeat;
      margin-right: 30px;
      -webkit-animation: boom-boom-infinite 10s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
              animation: boom-boom-infinite 10s cubic-bezier(0.075, 0.82, 0.165, 1) infinite; }
    .benefits__item:nth-child(1)::before {
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .benefits__item:nth-child(2)::before {
      -webkit-animation-delay: 2s;
              animation-delay: 2s; }
    .benefits__item:nth-child(3)::before {
      -webkit-animation-delay: 3s;
              animation-delay: 3s; }
    .benefits__item:nth-child(4)::before {
      -webkit-animation-delay: 4s;
              animation-delay: 4s; }
    .benefits__item:nth-child(5)::before {
      -webkit-animation-delay: 5s;
              animation-delay: 5s; }
    .benefits__item:nth-child(6)::before {
      -webkit-animation-delay: 6s;
              animation-delay: 6s; }
    .benefits__item:nth-child(7)::before {
      -webkit-animation-delay: 7s;
              animation-delay: 7s; }
    .benefits__item:nth-child(8)::before {
      -webkit-animation-delay: 8s;
              animation-delay: 8s; }
    .benefits__item:nth-child(9)::before {
      -webkit-animation-delay: 9s;
              animation-delay: 9s; }
    .benefits__item:nth-child(10)::before {
      -webkit-animation-delay: 10s;
              animation-delay: 10s; }

.info {
  margin-bottom: 40px; }
  .info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .info__text {
    max-width: 1024px;
    font-size: 1.15em;
    line-height: 1.1em; }

.form-section {
  margin-bottom: 40px; }
  .form-section .form {
    max-width: 575px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0; }

.form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  .form fieldset legend {
    text-align: start; }
  .form fieldset input,
  .form fieldset textarea {
    max-width: 100%;
    width: 100%;
    min-height: 39px;
    -webkit-box-shadow: 0 0 2px 2px #65A2EF;
            box-shadow: 0 0 2px 2px #65A2EF;
    margin: 3px 3px 30px;
    border-radius: 30px;
    padding: 0.5em 30px;
    font-size: 1em;
    line-height: 1em;
    font-weight: 600; }
  .form fieldset textarea {
    max-width: 100%;
    min-height: 146px;
    padding: 30px; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .form__row input:not([type="hidden"]) {
    min-width: 280px !important;
    max-width: calc(50% - 20px) !important;
    width: 100%; }
  .form__row input:not([type="hidden"]):first-child:last-child {
    max-width: 100% !important; }

.form__btns {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form__btns .privacy {
    min-width: 280px;
    margin: 10px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    font-size: 1em; }
  .form__btns button,
  .form__btns a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 24px;
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.3);
    background: -o-linear-gradient(45deg, #6976EB 30%, #65A2EF 50%, #6976EB 80%);
    background: linear-gradient(45deg, #6976EB 30%, #65A2EF 50%, #6976EB 80%);
    background-size: 200% 200%;
    -webkit-animation: gradient 10s linear infinite;
            animation: gradient 10s linear infinite; }
    .form__btns button:hover,
    .form__btns a:hover {
      -webkit-animation: boom-boom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
              animation: boom-boom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }

.form input:required,
.form textarea:required {
  background-color: #65a3ef3d; }

footer {
  min-height: 300px;
  background-color: #313030; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-Write {
  font-size: 3.4rem;
  width: 1em; }

.icon-Write_copy {
  font-size: 3.4rem;
  width: 1.02941em; }

.icon-arrow_down {
  font-size: 1.3rem;
  width: 1.38462em; }

.icon-facebook {
  font-size: 2rem;
  width: 0.5em; }

.icon-in {
  font-size: 1.7rem;
  width: 1.05882em; }

.icon-twiter {
  font-size: 1.5rem;
  width: 1.2em; }

@media (min-width: 560px){
        .steps__item::before {
          min-width: 100px; } }

@media (min-width: 600px){
      .hero__content, .hero__banner {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        max-width: 50%; }
      .hero__content {
        padding-right: 15px; }
      .hero__banner {
        padding-left: 15px;
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0; }
    .counter__item {
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

@media (min-width: 1024px){
      .hero__list {
        font-size: 1.3em; }
      .steps__list {
        font-size: 1.3em; }
      .benefits__list {
        font-size: 1.3em; } }

@supports (-webkit-appearance:none){
.hero__item:before{background:url("../icons/check.svg") center/contain no-repeat}
.benefits__item:before{background:url("../icons/check.svg") center/contain no-repeat}
}

 @media (min-width: 560px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}
